/* Body styles */

@font-face {
  font-family: catFont;
  src: url("../assets/cat-font.otf");
}

body {
  font-family: CatFont;
  color: white;
  letter-spacing: 2px;
  background-image: url("../assets/background.jpg");
}

/* This is to remove the space between html and body */
* {
  padding: 0;
  margin: 0;
}

.popup {
  text-align: center;
  position: fixed;
  display: none;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.5);
  color: black;
}

.popup-content {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  padding: 20px;
  margin: auto;
  margin-top: 8%;
  width: 30%;
  background-color: white;
  font-size: 25px;
}

.popup-message {
  margin: 10px;
}

/* Header styles */

.header {
  padding: 30px;
  background-color: #76323F;
}

h1 {
  display: inline-block;
  width: 30%;
  font-size: 24px;
}

#start-button {
  display: inline-block;
  margin: 0;
}

#difficulty-label {
  padding-left: 30px;
  padding-right: 15px;
  display: inline-block;
}

#difficulty-slider {
  height: 10px;
  -webkit-appearance: none;
  border-radius: 12px;
  outline: none;
  background-color:white;
}

#difficulty-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: #28b351;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#clicks-div {
  padding-left: 20px;
  display: none;
  border-left: 2px solid white;
}

#help-btn {
  padding-top: 8px;
  float: right;
}

#help-btn:hover {
  text-decoration: underline;
  cursor: pointer;
}


/* Cat Area */

/* This is to ensure the cat-area fills up the remaining space even without any content */
#cat-area {
  position: fixed;
  display: block;
  height: 100%;
  width: 100%;
}

.popup-cat {
  width: 100px;
  height: 100px;
}

#success-message, #failure-message {
  display: none;
}

.game-btn {
  min-width: 120px;
  font-size: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #28b351;
  border: none;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#cancel-btn {
  background-color: #f15e5e;
}

#help-popup .popup-content {
  font-size: 20px;
  background-color: #caebf2;
  word-spacing: 5px;
  padding: 30px;
}

#cat-peek {
  position: relative;
  display: none;
  height: 200px;
  width: 200px;
}

@media only screen and (max-width: 1240px) {
  #help-btn {
    font-size: 0;
  }

  #help-btn::before {
    float: right;
    position: relative;
    top: 5px;
    font-size: 16px;
    font-family: "Font Awesome 5 Free";
    content: "\f059";
    font-weight: 900;
  }
}
