@font-face {
  font-family: catFont;
  src: url("../assets/cat-font.otf");
}

body {
  font-family: CatFont;
  background-image: url("../assets/background.jpg");
}

* {
  padding: 0;
  margin: 0;
}

.header {
  padding: 20px;
  vertical-align: middle;
  background-color:  rgba(0,0,0, 0.7);
  overflow: auto;
  text-overflow: inherit;
  white-space: nowrap;
  color: white;
  letter-spacing: 2px;
}

#help-btn {
  padding-top: 15px;
  float: right;
}

#help-btn:hover {
  text-decoration: underline;
  cursor: pointer;
}

h1 {
  display: inline-block;
  width: fit-content;
}

#cat-area {
  position: fixed;
  display: block;
  height: 100%;
  width: 100%;
}

.popup {
  text-align: center;
  position: fixed;
  display: none;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.5);
}

.popup-content {
  border-radius: 5px;
  margin: auto;
  width: 500px;
  background-color: white;
  margin-top: 100px;
  padding-bottom: 10px;
}

#congrats-message {
  font-size: 25px;
  position: relative;
  top: -50px;
}

#success-cat {
  position: relative;
  top: -50px;
  width: 100px;
  height: 100px;
}

.game-btn {
  min-width: 120px;
  display: block;
  font-size: 20px;
  border-radius: 5px;
  position: relative;
  top: -20px;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #28b351;
  color: white;
}

#cancel-btn {
  background-color: #f15e5e;
}

#help-popup .popup-content {
  width: 400px;
  letter-spacing: 1.5px;
  word-spacing: 5px;
  padding: 30px;
}

#cat-peek {
  position: relative;
  display: none;
  height: 200px;
  width: 200px;
  cursor: pointer;
}
